.chat {
  flex: 2;
  border-right: 1px solid #dddddd35;
  border-left: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: 500;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }

    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;

    .messages {
      max-width: 70%;
      display: flex;
      margin: 0;
      flex-direction: column;

      span{
        font-size: 13px;
    }

      &.own {
        align-self: flex-end;

        .texts {
          background-color: #4e0eff;
          color: white;
          padding: 10px;
          border-radius: 10px;


          p{
            padding: 20px;
            border-radius: 10px;
          }

    
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        border-radius: 10px;
        background-color: #59a8b6;

        img{
            width: 100%;
            height: 300px;
            border-radius: 10px;
            object-fit: cover;
        }
      }
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;

    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    input {
      flex: 1;
      max-width: 60%;
      padding: 15px 20px;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: rgba(17, 25, 40, 0.329);
      color: white;
      font-size: 16px;
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 40px;
        left: 0;
        z-index: 1000;
      }
    }

    .sendButton {
      padding: 10px 20px;
      background-color: #4e0eff;
      border: none;
      outline: none;
      color: white;
      font-size: 16px;
      font-weight: 500;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

