.detail {
  flex: 1;

  .user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
         

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
          padding: 10px;
          border-radius: 50%;
          background-color: #3d3d3d;
        }
      }
      
      .photos {
        display:flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        .photoItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .photoDetail {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 20px;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    object-fit: cover;
                }
                span{
                  font-size: 14px;
                  color: lightgrey;
                  font-weight: 300;

                }



          }
          .icon{
            width: 30px;
            height: 30px;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            background-color: #3d3d3d;

          }
        }
        
      }
    }

    button{
          padding: 10px 20px;
          border: none;
          background-color: rgba(233, 46, 46, 0.644);
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover{
            background-color: rgba(228, 30, 30, 0.767);

        }
        &.logout{  
          padding: 10px 20px;
          background-color: rgba(58, 111, 226, 0.753);

          &:hover{
            background-color: rgba(54, 115, 247, 0.911);

        }
      }
  }
}
}
