.login{
    width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 100px;

    .item{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            input{
                padding: 20px;
                border: none;
                outline: none;
                background-color:rgba(17, 25, 40, 0.6);
                color: white;
                border-radius: 20px; 

            }

            label{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-decoration:underline;
                cursor: pointer;

                img{
                    width: 50px;
                    height: 50px;
                    border-radius:10px;;
                    object-fit: cover;
                }

            }

            button{
                width: 100%;
                padding: 20px;
                border: none;
                background-color: rgb(86, 173, 245);
                color: white;
                border-radius:5px;
                cursor: pointer;
                font-weight: bold   ;

                &:disabled{
                    cursor: not-allowed;
                    background-color:rgb(151, 193, 228);;
                }

            }

        }
    }
    .seperator {
    border-left: 2px solid #dddddd35;
    flex: 1.2;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; 
    height: 80%;
    width: 2px;   /* vertically */

    }
    

}